# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/facedown.suo.BASE.suo
/facedown.suo.LOCAL.suo
/facedown.suo.REMOTE.suo
/facedownx.suo